body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #333;
}

#banner {
  background-image: url(../images/backgrounds/banner.jpg);
  background-size: cover;
}
#projects {
  background-image: url(../images/backgrounds/projects.jpg);
  background-size: cover;
}
#skills {
  background-image: url(../images/backgrounds/skills.jpg);
  background-size: cover;
}
#contact {
  background-image: url(../images/backgrounds/contact.jpg);
}
