#interests {
  background: url(../../images/backgrounds/interests.jpg);
  background-size: cover;
  color: white;
  text-align: center;
  word-wrap: break-word;
}

#interests .section-title {
  color: black;
}

#interests h2 {
  color: white;
  font-size: 30px;
  margin: 22px 0px 30px;
}

#interests circle {
  fill: yellow;
  fill-opacity: .20;
}

#interests .leaf circle {
  fill: #1f8e0a;
  fill-opacity: .80;
}

#interests .leaf text {
  font: 17px sans-serif;
  font-weight: 400;
  text-anchor: middle;
}
