#interests {
  background: url(../../images/backgrounds/interests.jpg);
  background-size: cover;
  color: black;
  text-align: center;
  word-wrap: break-word;
}
#interests:before {
  background: rgba(1, 0, 2, 0.7);
}

#interests .section-title {
  color: white;
}

#interests .black {
  color: black;
}

#interests .white {
  color: white;
}

#interests h2 {
  font-size: 30px;
  margin: 22px 0px 30px;
}

#interests circle {
  fill: #f9c40a;
  fill-opacity: .40;
}

#interests .leaf circle {
  fill: #1f8e0a;
  fill-opacity: .90;
}

#interests .leaf text {
  background: transparent;
  color: white;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;

  font-weight: 500;
  text-anchor: middle;
}
