#skills {
  background: url(../../images/backgrounds/skills.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}
#skills .section-title {
  color: white;
}
#skills h2 {
  color: white;
  font-size: 35px;
  margin: 22px 0px 30px;
}

#skills div svg g text {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: white;
}

#skills div svg g .axis {
  display: none;
}
