#skills {
  background: url(../../images/backgrounds/skills.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

#skills .section-title {
  color: white;
}

#skills h2 {
  color: white;
  font-size: 35px;
  margin: 22px 0px 30px;
}

#skills text {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: 400;
  fill: black;
}

#skills .axis {
  display: none;
}
